---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/uniofbathdmc/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1524478736'
      Etag:
      - W/"9113c87c41dfdfa4069571b0b27dddf9"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":12639514,"name":"accessibility-guidelines","full_name":"uniofbathdmc/accessibility-guidelines","owner":{"login":"uniofbathdmc","id":2754476,"avatar_url":"https://avatars1.githubusercontent.com/u/2754476?v=4","gravatar_id":"","url":"https://api.github.com/users/uniofbathdmc","html_url":"https://github.com/uniofbathdmc","followers_url":"https://api.github.com/users/uniofbathdmc/followers","following_url":"https://api.github.com/users/uniofbathdmc/following{/other_user}","gists_url":"https://api.github.com/users/uniofbathdmc/gists{/gist_id}","starred_url":"https://api.github.com/users/uniofbathdmc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/uniofbathdmc/subscriptions","organizations_url":"https://api.github.com/users/uniofbathdmc/orgs","repos_url":"https://api.github.com/users/uniofbathdmc/repos","events_url":"https://api.github.com/users/uniofbathdmc/events{/privacy}","received_events_url":"https://api.github.com/users/uniofbathdmc/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/uniofbathdmc/accessibility-guidelines","description":"The
        accessibility guidelines used by the OOCSS open source project","fork":true,"url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines","forks_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/forks","keys_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/keys{/key_id}","collaborators_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/teams","hooks_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/hooks","issue_events_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/issues/events{/number}","events_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/events","assignees_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/assignees{/user}","branches_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/branches{/branch}","tags_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/tags","blobs_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/git/refs{/sha}","trees_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/git/trees{/sha}","statuses_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/statuses/{sha}","languages_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/languages","stargazers_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/stargazers","contributors_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/contributors","subscribers_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/subscribers","subscription_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/subscription","commits_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/commits{/sha}","git_commits_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/git/commits{/sha}","comments_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/comments{/number}","issue_comment_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/issues/comments{/number}","contents_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/contents/{+path}","compare_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/compare/{base}...{head}","merges_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/merges","archive_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/downloads","issues_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/issues{/number}","pulls_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/pulls{/number}","milestones_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/milestones{/number}","notifications_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/labels{/name}","releases_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/releases{/id}","deployments_url":"https://api.github.com/repos/uniofbathdmc/accessibility-guidelines/deployments","created_at":"2013-09-06T08:29:56Z","updated_at":"2013-09-13T12:07:43Z","pushed_at":"2013-09-06T08:30:51Z","git_url":"git://github.com/uniofbathdmc/accessibility-guidelines.git","ssh_url":"git@github.com:uniofbathdmc/accessibility-guidelines.git","clone_url":"https://github.com/uniofbathdmc/accessibility-guidelines.git","svn_url":"https://github.com/uniofbathdmc/accessibility-guidelines","homepage":null,"size":84,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":18650561,"name":"barebones","full_name":"uniofbathdmc/barebones","owner":{"login":"uniofbathdmc","id":2754476,"avatar_url":"https://avatars1.githubusercontent.com/u/2754476?v=4","gravatar_id":"","url":"https://api.github.com/users/uniofbathdmc","html_url":"https://github.com/uniofbathdmc","followers_url":"https://api.github.com/users/uniofbathdmc/followers","following_url":"https://api.github.com/users/uniofbathdmc/following{/other_user}","gists_url":"https://api.github.com/users[...]
