---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/vcr/vcr/compare/master...1-x-stable
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1524478736'
      Etag:
      - W/"9ba77c6c348be1c02648ee33dd1c6f11"
      Last-Modified:
      - Mon, 26 Feb 2018 20:07:42 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/vcr/vcr/compare/master...1-x-stable","html_url":"https://github.com/vcr/vcr/compare/master...1-x-stable","permalink_url":"https://github.com/vcr/vcr/compare/vcr:b5da0bb...vcr:05f70d1","diff_url":"https://github.com/vcr/vcr/compare/master...1-x-stable.diff","patch_url":"https://github.com/vcr/vcr/compare/master...1-x-stable.patch","base_commit":{"sha":"b5da0bb0c672d0aa7932e603962c79383296b63a","commit":{"author":{"name":"Nicolas
        Leger","email":"nicolasleger@users.noreply.github.com","date":"2018-02-26T20:07:42Z"},"committer":{"name":"Kurtis
        Rainbolt-Greene","email":"kurtis@rainbolt-greene.online","date":"2018-02-26T20:07:42Z"},"message":"[CI]
        Test against Ruby 2.5 (#696)","tree":{"sha":"50bf465a4a14fd36403aa0cb08f5ddf31f3b3e7a","url":"https://api.github.com/repos/vcr/vcr/git/trees/50bf465a4a14fd36403aa0cb08f5ddf31f3b3e7a"},"url":"https://api.github.com/repos/vcr/vcr/git/commits/b5da0bb0c672d0aa7932e603962c79383296b63a","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/vcr/vcr/commits/b5da0bb0c672d0aa7932e603962c79383296b63a","html_url":"https://github.com/vcr/vcr/commit/b5da0bb0c672d0aa7932e603962c79383296b63a","comments_url":"https://api.github.com/repos/vcr/vcr/commits/b5da0bb0c672d0aa7932e603962c79383296b63a/comments","author":{"login":"nicolasleger","id":570901,"avatar_url":"https://avatars1.githubusercontent.com/u/570901?v=4","gravatar_id":"","url":"https://api.github.com/users/nicolasleger","html_url":"https://github.com/nicolasleger","followers_url":"https://api.github.com/users/nicolasleger/followers","following_url":"https://api.github.com/users/nicolasleger/following{/other_user}","gists_url":"https://api.github.com/users/nicolasleger/gists{/gist_id}","starred_url":"https://api.github.com/users/nicolasleger/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nicolasleger/subscriptions","organizations_url":"https://api.github.com/users/nicolasleger/orgs","repos_url":"https://api.github.com/users/nicolasleger/repos","events_url":"https://api.github.com/users/nicolasleger/events{/privacy}","received_events_url":"https://api.github.com/users/nicolasleger/received_events","type":"User","site_admin":false},"committer":{"login":"krainboltgreene","id":334809,"avatar_url":"https://avatars1.githubusercontent.com/u/334809?v=4","gravatar_id":"","url":"https://api.github.com/users/krainboltgreene","html_url":"https://github.com/krainboltgreene","followers_url":"https://api.github.com/users/krainboltgreene/followers","following_url":"https://api.github.com/users/krainboltgreene/following{/other_user}","gists_url":"https://api.github.com/users/krainboltgreene/gists{/gist_id}","starred_url":"https://api.github.com/users/krainboltgreene/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/krainboltgreene/subscriptions","organizations_url":"https://api.github.com/users/krainboltgreene/orgs","repos_url":"https://api.github.com/users/krainboltgreene/repos","events_url":"https://api.github.com/users/krainboltgreene/events{/privacy}","received_events_url":"https://api.github.com/users/krainboltgreene/received_events","type":"User","site_admin":false},"parents":[{"sha":"8dab143460963af416937d2f7724b41d9eadb4d1","url":"https://api.github.com/repos/vcr/vcr/commits/8dab143460963af416937d2f7724b41d9eadb4d1","html_url":"https://github.com/vcr/vcr/commit/8dab143460963af416937d2f7724b41d9eadb4d1"}]},"merge_base_commit":{"sha":"246bb6d203eef83b6d967026da3071fc7f1795ed","commit":{"author":{"name":"Myron
        Marston","email":"myron.marston@gmail.com","date":"2011-09-08T05:54:33Z"},"committer":{"name":"Myron
        Marston","email":"myron.marston@gmail.com","date":"2011-09-08T06:02:53Z"},"message":"Use
        default record mode of :once rather than specifying it in a bunch of places
        where it''s not an important detail.","tree":{"sha":"c0b1d00f3f2ccdcdef989c76fb2da0ca587fcbaf","url":"https://api.gith[...]
