<section class="summary-information">
  <div class="row">
    <div class="small--24 columns">
      <h1>Nothing built recently</h1>
      <p class="summary">This page will refresh with once a build has run successfully.</p>
    </div>
  </div>
</section>