<section class="summary-information">
  <div class="row">
    <div class="small--24 columns">
      <h1>We built a thing!</h1>
      <p class="summary"><%= $build_info[:text] %> at <%= $build_info[:time].strftime("%H:%M") %></p>
    </div>
  </div>
</section>