<div id="output">
</div>

<%= javascript_tag do %>
$(function() {

  // milliseconds
  var pollTime = 5000;
  setInterval(function() {
    $('#output').load('/welcome/build #output');
  }, pollTime);

});
<% end %>
